<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{ '/' | relative_url }}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ '/categories.html#announcement' | relative_url }}">Announcement</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ '/categories.html#vision' | relative_url }}">Vision</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ '/categories.html#automation' | relative_url }}">Automation</a>
</li>
<!-- <li class="nav-item">
<a class="nav-link" href="authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="contact.html">Contact</a>
</li> -->
<!-- <li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">Ghost</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li> -->
